html, body {
    height: 100%;
    background-color: #ffffff;
    font-family: "Poppins";
    color: #333333;
    font-size: 16px;
    overflow-x: hidden;
  }
/*==================
 HEADER SECTION
====================*/

#mu-header {
    background-color: #ffffff;
    display: inline-block;
    color: #7C7C7C;
    float: left;
    width: 100%;
    border-left: 0,3px solid rgb(206, 206, 206);
    font-family: "poppins light" ;
    font-size: medium;
    
   

  }
#mu-header .mu-header-area {
    
    float: left;
    padding: 10px 0;
    width: 100%;
    display: flex;
    
    margin: 0px 15px;
    
}
#mu-header .mu-header-area .col-lg-6 .col-md-6 .col-sm-6 .col-xs-6{
    padding: 0px 15px;
}

#mu-header  .mu-header-area .mu-header-top-left {
    display: inline;
    float: left;
    width: 100%;
}
#mu-header  .mu-header-area .mu-header-top-left .mu-top-Welcome{
    font-family: 'poppins light' ;
    display: inline;
    float: left;
    font-size: 14px;
    margin-right: auto;
    position: relative;
    left: 270px;
}

#mu-header .mu-header-area .mu-header-top-right {
  
  float: left;
  text-align: right;
  align-items: center;
  width: 100%;
  display: inline-flex;
  padding: 0px 230px;
  margin: 0px 160px;
  font-size: 14px;
  display: inline;
  
}
#mu-header .mu-header-area .mu-header-top-right span{
    padding: 0px 57px;
    margin: 0px 119px;
    padding: 0px 8px;
}
#mu-header .mu-header-area .mu-header-top-right span .Email{
    color: #38ADA9;
    width: 117px;
    position: relative;
    left: 508px;
    top: -22px;
}
}

/*==================
 NAVBAR SECTION
====================*/

#mu-menu .navbar-header .navbar-brand{
    color: #333;
    font-family: "Poppins ";
    font-size: 26px;
    font-weight: medium;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 0.5px;
    text-align: justify;
}
#mu-menu .navbar-header .navbar-brand .img{
    padding: 20px 250px;
    margin: 0px 0px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "poppins medium";
    margin: 0px 408px;
    padding: 0px 100px;
}
.nav-bar ul{
    display: inline-flex;
    position: relative;
    left: 220px;
    top: -161px;

}
.nav-bar ul li{
    padding: 15px;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #7C7C7C;
}
.nav-bar #top-menu .active a{
    color: #38ADA9;
}
#Request{
    border: 1px solid #38ADA9;
	border-width: thin;
	border-radius: 50px;
	background-color: #38ADA9;
}
#Request a{
    color: white;
}
#Para1{
    font-family: "Poppins Regular";
    font-size: 20px;
    padding: 0px 0px;
    padding: 0px 0px;

}
/*==================
 CONTENT SECTION
====================*/

.page-wrapper{
    min-height: 100%;
}

























/*==================
 FOOTER SECTION
====================*/
.footer {
    font-family: "poppins";
    background-color: #FAFAFA;
    color: #3E3E3E;
    height: 400px;
    position: relative;
    /*color: #3E3E3E;*/
}

.footer .footer-content{
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-Section{
    flex: 1;
    padding: 20px;
    border: 1px solid black ;
}
.footer .footer-content .footer-Section-descreption .text-logo{
  font-size: Medium;
  color: #38ADA9;
  font-family: "poppins ";

}
.footer .footer-content .footer-Section-descreption .Title-Footer{
    font-family: "Poppins";
    font-size: Bold;
    color: #5C5C5C;

}
.footer .footer-content .footer-Section-contact-Us .fa-icone li {
    
    color: #38ADA9;

}