html{
    height: 100%;
    background-color: #ffffff;
    font-family: "Poppins";
    color: #333333;
    font-size: 16px;
    overflow-x: hidden;

  }
li{
    
    list-style: none;
}
li a {
    text-decoration: none;
    color: #3E3E3E;
}
/*==================
 HEADER SECTION
====================*/

body {
	margin: 0;
	width: 100% !important;
	
}
.header {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-family: 'poppins light' ;
	color: #7C7C7C;
    height: 60px;
    line-height: 55px;
	

}
.header #welcome {
    float:left !important;
    margin-left: 14%;
}
.header #phone-email{
    float: right;
    margin-right: 15%;
}
#Email{
	color: #38ADA9;
}

.nav-bar img{
  width: 147px;
  top: 13px;
  left: 15px;
}
.nav-bar{
    width: 1802px;
	display: flex;
	justify-content: space-evenly;
}
.nav-bar ul{
	display: flex;
	justify-content: center;
}
.nav-bar ul li{
  padding: 15px;
  list-style: none;
  font-family: 'poppins medium';
  font-size: 14px;
}
.nav-bar ul .active a{
    color: #38ADA9;
}
.nav-bar ul li a{
	text-decoration: none;
	color: #7C7C7C
}
#Request{
	border: 1px solid #38ADA9;
	border-width: thin;
	border-radius: 50px;
	background-color: #38ADA9;
}
#Request a{
	color: white;
}
#bar{

	margin:0;
	background-color:#38ADA9;
	height: 80px;
	width: 100% !important;
}
#bar p{
	font-family: 'poppins medium' ;
	font-size:35px;
	margin: 0;
	color: white;
    vertical-align: middle;
    line-height: 80px;
    position:absolute;
    /*left: 227px;*/
    margin-left: 15%;
}
.nav-bar-mobile{
	display: none;
}
#dropdown li{
	list-style: none;
	line-height: 40px;
}
#dropdown li a{
	text-decoration: none;
	padding-left: 30px;
}

@media screen and (max-width: 930px){
	.nav-bar{
		display: none !important;
	}
	.nav-bar-mobile{
		display: block !important;
	}
	#phone-email{
		display: none;
	}
	#bar p{
		text-align:  center !important;
		position:relative !important;
		margin-left: 0px;
	}
}
/*==================
 CONTENT SECTION BLOG
====================*/
.father{
	padding-top: 7%;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto; 
	
	

}
.wife1{
   width: 68%;

}

.wife2{
	width: 28%;
}

.tswira1{
	margin-left:12px;
	justify-content: space-between;
	border: 1px solid gray;
	display: flex;
	margin-bottom: 20px;
	width: 97%;
	height: 15%;
    
}

.tswira1:hover{
	opacity: 0.5;
}

.para{
	width: 460px;
	
}
.para h3{
	font-family: 'poppins medium';
}
.para p{
	font-family: 'poppins light';
	font-size: 16px;
	line-height: 30px;
}

.mamatswira{
	display: flex;
	justify-content: space-around;
	
}

.mama1{
	width: 47%;
    border: 1px solid gray

}

.mama1:hover{
	opacity: 0.5;
}

.mama2{
	width: 47%;
	 border: 1px solid gray
}

.mama2:hover{
	opacity: 0.5;
}

.parag{
	font-size: 20px;
	line-height: 23px;
	padding: 10px;
}

.wife2  p{
	padding-bottom: 20px;
	width: 80%;
	margin-left: 20px;
	border-bottom: 0.2px solid black;
	font-size: 20px;
	font-family: 'poppins medium';
	color: #333333;
}

.wife2 h2{
	text-align: center;
	color: #38ADA9;
	font-family: 'poppins medium';
}

h4{
	font-family: 'poppins medium';
}
p {
	font-family: 'poppins light';
	font-size: 16px;
}


@media screen and (max-width: 930px){
	.topheader{
		width: 100%;
    }

}

/*==================
 CONTENT SECTION Services
====================*/
.Services-all{
    display: flex;
    width: 100%;
    justify-content: center
}


.Box {
    width: 25%;
    margin: 100px 40px 100px 40px;
}
.services-img{
    width: 100%;
}
.content h3,.content p{
  float: left;
  text-align: left;
  width: 94%;
  font-family: "poppins";
  color: #707070;
  padding-left: 12px;
}

.content h3 {
    font-size: 30px;
}
  .content p {
      font-size: 16px;
  }



/*==================
 CONTENT SECTION Contact
====================*/





/*==================
 FOOTER SECTION
====================*/
.footer .Copyright p {
    text-align: center;
    color :  #5C5C5C;
    margin-top : auto;
    position : absolute;
    bottom : 0px;
    left : 0px;
    padding-top: 20px;
    width : 100%;
}

.footer {
    font-family: "poppins";
    background-color: #FAFAFA;
    color: #3E3E3E;
    height: 400px;
    position: relative;
    /*color: #3E3E3E;*/
    top: 63px;
    display: flex;
    width: 100%;
}

.footer .footer-content{
    height: 311px;
    display: flex;
}


.footer .footer-content .footer-Section-pic-footer{
    top: 80px;
    left: 74px;
    position: relative;
}
.footer .footer-content .footer-Section-descreption{
    position: relative;
    left: 133px;
    top: 80px;
}

.footer .footer-content .footer-Section-descreption .text-logo{
    font-size: 30px;
    color: #38ADA9;
    font-family: "poppins Medium";

}


.footer .footer-content .footer-Section-Quick-view{
    position: relative;
    left: 198px;
    top: 80px;
    list-style: none;
    font-size: 17px;
    font-family: "Poppins";
}
.footer .footer-content .footer-Section-Quick-view .Liste-Quick{
    list-style: none;
    color: #5C5C5C;
    font-size: bold;
}

.footer .footer-content .footer-Section-Services{
    position: relative;
    left: 289px;
    top: 80px;
    font-size: 17px;
    color: #5C5C5C;
    
}
.footer .footer-content .footer-Section-Quick-view .Liste-Services{
    list-style: none;
    color: #5C5C5C;
}


.footer .footer-content .footer-Section-contact-Us{
    position: relative;
    left: 309px;
    top: 80px;
    font-size: 17px;
}

.footer .footer-content .footer-Section-contact-Us .Liste-Contact{
    color: #5C5C5C;
    
}
.footer .footer-content .footer-Section-contact-Us .Contact{
    line-height: ;
}
.footer .footer-content .footer-Section-contact-Us .fa-icone li {
    
    color: #38ADA9;

}

 @media screen and (max-width : 930px){
     .footer{
        font-family: "poppins";
        color: #3E3E3E;
        height: 100%;
        position: relative ;
        display: flex;
        width: 100%;
        
     }
     .footer .footer-content{
         flex-direction: column;
         top: 0px;
         position: absolute;
         
         background-color: #FAFAFA;
         
     }
    

 }