html{
    height: 100%;
    background-color: #ffffff;
    font-family: "Poppins";
    color: #333333;
    font-size: 16px;
    overflow-x: hidden;

  }
li{
    
    list-style: none;
}
li a {
    text-decoration: none;
    color: #3E3E3E;
}
/*==================
 HEADER SECTION
====================*/

body {
	margin: 0;
	width: 100% !important;
	
}
.header {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-family: 'poppins light' ;
	color: #7C7C7C;
    height: 60px;
    line-height: 55px;
	

}
.header #welcome {
    float:left !important;
    margin-left: 14%;
}
.header #phone-email{
    float: right;
    margin-right: 15%;
}
#Email{
	color: #38ADA9;
}

.nav-bar img{
  width: 147px;
  top: 13px;
  left: 15px;
}
.nav-bar{
    width: 1802px;
	display: flex;
	justify-content: space-evenly;
}
.nav-bar ul{
	display: flex;
	justify-content: center;
}
.nav-bar ul li{
  padding: 15px;
  list-style: none;
  font-family: 'poppins medium';
  font-size: 14px;
}
.nav-bar ul .active a{
    color: #38ADA9;
}
.nav-bar ul li a{
	text-decoration: none;
	color: #7C7C7C
}
#Request{
	border: 1px solid #38ADA9;
	border-width: thin;
	border-radius: 50px;
	background-color: #38ADA9;
}
#Request a{
	color: white;
}
#bar{

	margin:0;
	background-color:#38ADA9;
	height: 80px;
	width: 100% !important;
}
#bar p{
	font-family: 'poppins medium' ;
	font-size:35px;
	margin: 0;
	color: white;
    vertical-align: middle;
    line-height: 80px;
    position:absolute;
    /*left: 227px;*/
    margin-left: 15%;
}
.nav-bar-mobile{
	display: none;
}
#dropdown li{
	list-style: none;
	line-height: 40px;
}
#dropdown li a{
	text-decoration: none;
	padding-left: 30px;
}

@media screen and (max-width: 930px){
	.nav-bar{
		display: none !important;
	}
	.nav-bar-mobile{
		display: block !important;
	}
	#phone-email{
		display: none;
	}
	#bar p{
		text-align:  center !important;
		position:relative !important;
		margin-left: 0px;
	}
}
/*==================
 CONTENT SECTION BLOG
====================*/
.father{
	padding-top: 7%;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto; 
	
	

}
.wife1{
   width: 68%;

}

.wife2{
	width: 28%;
}

.tswira1{
	margin-left:12px;
	justify-content: space-between;
	border: 1px solid gray;
	display: flex;
	margin-bottom: 20px;
	width: 97%;
	height: 15%;
    
}

.tswira1:hover{
	opacity: 0.5;
}

.para{
	width: 460px;
	
}
.para h3{
	font-family: 'poppins medium';
}
.para p{
	font-family: 'poppins light';
	font-size: 16px;
	line-height: 30px;
}

.mamatswira{
	display: flex;
	justify-content: space-around;
	
}

.mama1{
	width: 47%;
    border: 1px solid gray

}

.mama1:hover{
	opacity: 0.5;
}

.mama2{
	width: 47%;
	 border: 1px solid gray
}

.mama2:hover{
	opacity: 0.5;
}

.parag{
	font-size: 20px;
	line-height: 23px;
	padding: 10px;
}

.wife2  p{
	padding-bottom: 20px;
	width: 80%;
	margin-left: 20px;
	border-bottom: 0.2px solid black;
	font-size: 20px;
	font-family: 'poppins medium';
	color: #333333;
}

.wife2 h2{
	text-align: center;
	color: #38ADA9;
	font-family: 'poppins medium';
}

h4{
	font-family: 'poppins medium';
}
p {
	font-family: 'poppins light';
	font-size: 16px;
}


@media screen and (max-width: 930px){
	.topheader{
		width: 100%;
    }

}

/*==================
 CONTENT SECTION Services
====================*/
.Services-all{
    display: flex;
    width: 100%;
    justify-content: center
}


.Box {
    width: 25%;
    margin: 100px 40px 100px 40px;
}
.services-img{
    width: 100%;
}
.content h3,.content p{
  float: left;
  text-align: left;
  width: 94%;
  font-family: "poppins";
  color: #707070;
  padding-left: 12px;
}

.content h3 {
    font-size: 30px;
}
  .content p {
      font-size: 16px;
  }
  @media screen and (max-width:375px){
      .Services-all {
          flex-direction: column;
          width: 80%;
          margin-top: 16%;
          margin-right: 10%;

          
      }
      .Box {
          width: 100%;
          margin: 6%;
      }
      .content h3 {
        font-size: 23px;
        text-align: center;
        margin-top: 1%;
      }
      .content p {
          font-size: 10px;
          margin-top: -4%;
      }
  }
/*==================
 CONTENT SECTION Our Works
====================*/
.flex-res{ 
    display: flex;
}

.border {
    width: 44%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    border: 1px solid #7C7C7C;
}
.border img {
    height: 100%;
}
.border h3 {
    color: #38ADA9;
    margin-left: 5%;
    font-family: "poppins medium";
    font-size: 26px;
}
.border p {
    margin-left: 5%;
    margin-top: 12%;
    font-family: "poppins medium";
    font-size: 16px;
    color: #707070;
}
@media screen and (max-width:375px) {
    .flex-res {
        flex-direction: column;
    }
    .border {
        flex-direction: column;
        width: 70%;
        margin-top: 69px;
        margin-left: 52px;
    }
    .border h3 {
        font-size: 16px;
    }
    .border p {
        font-size: 10px;
    }
    .border  img {
        width: 100%;
    }
}



/*==================
 CONTENT SECTION Contact
====================*/




/*==================
 FOOTER SECTION
====================*/

.footer{
    color: #3E3E3E;
    background-color: #FAFAFA;
    padding: 40px;
    font-family: "Poppins";
    font-size: 10px;
    margin-top: 100px;
    bottom: 0px;
    
}
.footer a {
    text-decoration: none;
    color: #5C5C5C;
    display: flex;
  

}
.footer a:hover{
    color: #38ADA9;
}

.footer .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 12px;
    
}

.footer .row .column {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    
}

.footer .row .column h2 {
    color: #5C5C5C;
    font-family: "poppins";
    font-size: 14px;
}

.footer .row .column p {
    color: #5C5C5C;
    font-family: "poppins";
    font-size: 10px;
}
.footer .row .column div {
    padding: 3px 0;
}
@media screen and (max-width : 930px){
    .footer .row {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
     }
 
     .footer .row .column {
         justify-content: center;
         align-items: center;
     }
 
     .contact-body .contact-address .address-info{
         align-self: center;
     }
     
 
  } 