body {
	margin: 0;
	width: 100% !important;
	
}
.header {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-family: 'poppins light' ;
	color: #7C7C7C;
	height: 40px;
	line-height: 40px;
	/*overflow: hidden !important;*/

}

#Email{
	color: #38ADA9;
}

.nav-bar img{
  width: 147px;
  top: 13px;
  left: 15px;
}
.nav-bar{
	display: flex;
	justify-content: space-evenly;
}
.nav-bar ul{
	display: flex;
	justify-content: center;
}
.nav-bar ul li{
  padding: 15px;
  list-style: none;
  font-family: 'poppins medium';
  font-size: 14px;
}
.nav-bar ul li a{
	text-decoration: none;
	color: #7C7C7C
}
#Request{
	border: 1px solid #38ADA9;
	border-width: thin;
	border-radius: 50px;
	background-color: #38ADA9;
}
#Request a{
	color: white;
}
#Blog{

	margin:0;
	background-color:#38ADA9;
	height: 80px;
	width: 100% !important;
}
#Blog p{
	font-family: 'poppins medium' ;
	font-size:35px;
	margin: 0;
	color: white;
    vertical-align: middle;
    line-height: 80px;
    position:absolute;
    /*left: 227px;*/
    margin-left: 15%;
}
.nav-bar-mobile{
	display: none;
}
#dropdown li{
	list-style: none;
	line-height: 40px;
}
#dropdown li a{
	text-decoration: none;
	padding-left: 30px;
}

@media screen and (max-width: 930px){
	.nav-bar{
		display: none !important;
	}
	.nav-bar-mobile{
		display: block !important;
	}
	#phone-email{
		display: none;
	}
	#Blog p{
		text-align:  center !important;
		position:relative !important;
		margin-left: 0px;
	}
}